.dialog {
    padding: 15px;
    background-color: #D28140;
    margin-bottom: 25px;
    text-align: center;
    border-radius: 10px;
}

.dialog a {
    color: black;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}