.header {
    grid-area: header;
    background-color: #D28140;
    border-bottom: 5px solid #495F75;
}

.header img {
    width: 70px;
    padding: 5px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
}