.navbar {
    background-color: #E6CDAE;
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navbar:hover {
    background-color: #06bc6d;
}

.navbar_open {
    font-size: 2rem;
    background: none;
}

.wrapper_active_menu {
    display: flex;
}

.nav_menu_active {
    display: flex;
    justify-self: center;
    background-color: #E6CDAE;
    width: 100%;
    height: 100%;
    transition: 350ms;
    box-shadow: 0px 8px 32px 0px rgb(0 0 0 / 37%);
}

.nav_text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 60px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.nav_text a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    border-radius: 4px;
}

.nav_text a:hover {
    background-color: #06bc6d;
}

.nav_menu_items {
    width: 100%;
}

.navbar_toggle {
    display: flex;
    flex: 40%;
    background-color: #E6CDAE;
    width: 40px;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navbar_toggle:hover {
    background-color: #06bc6d;
}

.title {
    margin-left: 16px;
}