.nav {
  grid-area: nav;
  /* background-image: radial-gradient( circle farthest-corner at -8.9% 51.2%,  rgba(255,124,0,1) 0%, rgba(255,124,0,1) 15.9%, rgba(255,163,77,1) 15.9%, rgba(255,163,77,1) 24.4%, rgba(19,30,37,1) 24.5%, rgba(19,30,37,1) 66% ); */
  box-shadow: 0 8px 32px 0 rgb(0 0 0 / 37%);
  background-color:#E6CDAE;
}

.item {
  color: black;
  font-size: x-large;
  text-align: center;
  padding: 14px 20px;
  border-bottom: 1px solid gray;
  text-decoration: none;
}



.active {
  color: grey;
  text-decoration: none;
}