* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileInfoWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    padding: 35px 15px;
    margin: 50px 0px;
    background-color: #495F75;
    border: 1px solid rgb(255 255 255 / 18%);
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 70%);
    border-radius: 30px;
}

.descriptionBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    background-color: #DCD7D5;
    border: 1px solid rgb(255 255 255 / 18%);
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 70%);
    border-radius: 30px;
    padding: 30px;
}

.avatar {
    height: 255px;
    width: 255px;
    border-radius: 30px;
}

.containerOfJob {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.containerOfJob>div {
    display: inline-block;
    font-size: 22px;
}

.containerOfJob>p {
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px;
}

.userName {
    font-size: 18px;
    font-weight: 900;
    padding: 0px 15px;
    margin: 0px auto;
    text-align: center;
    width: fit-content;
    height: fit-content;
    border-bottom: 3px solid black;
}

.containerOfStatus {
    margin: 0 0;
}

.containerOfStatus>div {
    display: inline-block;
    padding: 10px 5px;
}

.containerOfStatus>p {
    display: inline;
    margin-right: 0px;
    font-weight: 600;
}

.containerOfSkills {
    margin: 0 0;
}

.containerOfSkills>div {
    display: inline-block;
    padding: 5px 5px;
}

.containerOfSkills>p {
    display: inline;
    margin-right: 0px;
    font-weight: 600;
}