* {
    box-sizing: border-box;
}

.profileInfoWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 75px;
    padding: 30px;
    margin: 50px;
    background-color: #495F75;
    border: 1px solid rgb(255 255 255 / 18%);
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 70%);
    border-radius: 30px;
}

.descriptionBlock {
    background-color: #DCD7D5;
    border: 1px solid rgb(255 255 255 / 18%);
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 70%);
    border-radius: 30px;
}

.avatar {
    height: 250px;
    width: 250px;
    border-radius: 30px;
}