body>#root>div {
  height: 100vh;
}

#root {
  min-height: 100%;
}

.app-wrapper {
  display: grid;
  min-height: 100%;
  grid-template-rows: 75px 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'header header'
    'nav content';
  grid-gap: 0 auto;
}

.app-wrapper-content {
  grid-area: content;
}

body {
  background-image: linear-gradient(109.6deg, #EEEEEE 71.8%, #DCD7D5 71.8%);
}